body {
	margin: 0;
	padding: 0;
	background: #DDDDDD;
	font-family: "Tahoma", "Trebuchet MS", "Arial", "Helvetica";
}

table {
	background: #B3B3B3;
}

td {
	padding: 8px;
	font-size: 15px;
}

textarea {
	width: 320px;
	height: 550px;
	font-family: "Consolas", "Roboto Mono", "Courier New", "Courier";
}

input[type=button]:hover {
	cursor: pointer;
}

.container {
	display: grid;
	grid-template-areas:
		'title'
		'table';
}

.title {
	grid-area: title;
	justify-self: center;
	padding: 20px;
	text-align: center;
	font-size: 18px;
}

.table {
	grid-area: table;
	justify-self: center;
}

.label {
	padding-bottom: 5px;
	font-size: 15px;
}

.buttons {
	text-align: center;
}
