body {
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: Tahoma;
}

table {
	background: #a3a3a3;
}

td {
	padding: 8px;
	font-size: 13px;
}

textarea {
	width: 320px;
	height: 550px;
	font-family: Consolas;
}

.container {
	display: grid;
	grid-template-areas:
		'title'
		'table';
}

.title {
	grid-area: title;
	justify-self: center;
	padding: 20px;
	text-align: center;
	font-size: 18px;
}

.table {
	grid-area: table;
	justify-self: center;
}

.label {
	padding-bottom: 5px;
	font-size: 13px;
}

.buttons {
	text-align: center;
}
